<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Student Management System</a>

	<!-- Toggler/collapsible Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/students}">Student Management</a>
			</li>
		</ul>
	</div>
</nav>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class="text-center"> Create New Student </h1>
			<div class="card-body">
				<form th:action="@{/students}" th:object="${student}" method="POST">
					<div class="form-group">
						<label> Student First Name </label>
						<input type="text" name="firstName" th:field="*{firstName}" class="form-control"
							   placeholder="Enter Student First Name"/>
					</div>

					<div class="form-group">
						<label> Student Last Name </label>
						<input type="text" name="lastName" th:field="*{lastName}" class="form-control"
							   placeholder="Enter Student Last Name"/>
					</div>

					<div class="form-group">
						<label> Student Email </label>
						<input type="text" name="email" th:field="*{email}" class="form-control"
							   placeholder="Enter Student Email"/>
					</div>

					<!-- New Fields: Address, Phone Number, Date of Birth -->
					<div class="form-group">
						<label> Address </label>
						<input type="text" id="addressInput" name="address" th:field="*{address}" class="form-control"
							   placeholder="Enter Student Address"/>
					</div>

					<div class="form-group">
						<label> Phone Number </label>
						<input type="text" name="phoneNumber" th:field="*{phoneNumber}" class="form-control"
							   placeholder="Enter Student Phone Number"/>
					</div>

					<div class="form-group">
						<label> Date of Birth </label>
						<input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" class="form-control"
							   placeholder="Enter Student Date of Birth"/>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Google Places API script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB__2sRzccpKIe176cu0Cq1qxV0USeJjY&libraries=places"></script>

<!-- Script to initialize Autocomplete feature -->
<script>
	function initAutocomplete() {
        var input = document.getElementById('addressInput');
        var options = {
            types: ['geocode'] // Restrict to geographical locations
        };
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
</body>
</html>
